/* src/styles/Paginador.module.css */

.pagination {
  /* No se necesita mucho aquí, Bootstrap ya centra con .justify-content-center */
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(20, 184, 166, 0.25); /* Sombra de foco con nuestro color primario */
}

.pageItem .pageLink {
  background-color: var(--color-background-light);
  color: var(--color-text-primary);
  border: 1px solid var(--color-border);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.pageItem .pageLink:hover {
  background-color: var(--color-background-dark);
  color: var(--color-primary);
}

/* Estilo para el botón de la página ACTIVA */
.pageItem.active .pageLink {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
  z-index: 3;
}

/* Estilo para los botones DESHABILITADOS */
.pageItem.disabled .pageLink {
  background-color: transparent;
  color: var(--color-text-muted);
  border-color: var(--color-border);
  opacity: 0.5;
}
